@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

.PageContainer {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
section {
    scroll-snap-align: start;
}

::-webkit-scrollbar {
    @apply w-1 h-1 rounded-xl bg-slate-600/80;
}
::-webkit-scrollbar-button {
    @apply hidden;
}
::-webkit-scrollbar-track {
    @apply hidden;
}
::-webkit-scrollbar-track-piece {
    @apply hidden;
}
::-webkit-scrollbar-thumb {
    @apply bg-[#0094FF] rounded-xl;
}
::-webkit-scrollbar-corner {
    @apply hidden;
}